<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- --------- UNICONS ---------- -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">

    <!-- --------- CSS ---------- -->
    <link rel="stylesheet" href="../static/css/style.css">

    <!-- --------- FAVICON ---------- -->
    <link rel="shortcut icon" href="../static/images/inconPy.png" type="image/x-icon">

    <title>Portfolio</title>
</head>
<body>

    <!-- confection du curseurs  -->
    <div class="cursor-1"></div>
    <div class="cursor-2"></div>

   <div class="container">
            <!-- --------------- HEADER --------------- -->
            <nav id="header">
                <div class="nav-logo">
                    <a href="#">
                        <img src="../static/images/logPy.png" alt="logo" class="nav-name" width=75px>
                    </a>
                </div>

                <div class="nav-menu" id="ma_nav_menu">
                    <ul class="nav_menu_list">
                        <li class="nav_list">
                            <a href="#home" class="nav-link active-link">Home</a>
                            <div class="circle"></div>
                        </li>
                        <li class="nav_list">
                            <a href="#about" class="nav-link">About</a>
                            <div class="circle"></div>
                        </li>
                        <li class="nav_list">
                            <a href="#projects" class="nav-link">Projets</a>
                            <div class="circle"></div>
                        </li>
                        <li class="nav_list">
                            <a href="#contact" class="nav-link">Contacte</a>
                            <div class="circle"></div>
                        </li>
                    </ul>
                </div>
                
                <div class="nav-button">
                    <a href="../static/Cv/Cv Chris.pdf"><button class="btn">Obtenir CV <i class="uil uil-file-alt"></i></button></a>
                </div>


                
                <div class="nav-menu-btn">
                    <i class="uil uil-bars" onclick="myMenuFunction()"></i>
                </div>
            </nav>
            
            
            <!-- -------------- SECTION PRINCIPAL ---------------- -->
            <main class="wrapper">
                <!-- -------------- Section Home ---------------- -->
                <section class="featured-box" id="home">
                    <div class="featured-text">
                        <div class="featured-text-card">
                            <span>AGOH Chris</span>
                        </div>
                        <div class="featured-name">
                            <p>Je suis <span class="typedText"></span></p>
                        </div>
                        <div class="description">
                            <p>Je suis un étudiant en Informatique spécialisé en Génie Logiciel à l'Université de Technologie d'Abidjan. En tant qu'ingénieur logiciel, ma passion pour les technologies innovantes ne cesse de croître et de m'inspirer.</p>
                        </div>
                        <div class="featured-text-btn">
                            <button class="btn blue-btn">Recrutez-moi</button>
                            <a href="../static/Cv/Cv Chris.pdf"><button class="btn">Obtenir CV <i class="uil uil-file-alt"></i></button></a>
                        </div>
                        <div class="social_icons">
                            <div class="icon">
                                <a href="https://www.facebook.com/rene.agoh.31">
                                    <i class="uil uil-facebook-f" style="color: blue;"></i>
                                </a>
                            </div>
                                
                            <div class="icon">
                                <a href="https://www.linkedin.com/in/agoh-chris-%F0%9F%90%8D-811b6526a/">
                                    <i class="uil uil-linkedin-alt" style="color: blue;"></i>
                                </a>
                            </div>
                            <div class="icon">
                                <a href="https://github.com/MisterPy15">
                                    <i class="uil uil-github-alt" style="color: black;"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="featured-image">
                        <div class="image">
                            <img src="../static/images/Pr2.jpeg" alt="Agoh Chris">
                        </div>
                    </div>
                    <div class="scroll-icon-box">
                        <a href="#about" class="scroll-btn">
                            <i class="uil uil-mouse-alt"></i>
                            <p>Défiler ⬇︎</p>
                        </a>
                    </div>
                </section>


                <!-- -------------- SECTION ABOUT ---------------- -->
                <section class="section" id="about">
                    <div class="top-header">
                        <h1>À Propos de Moi</h1>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="about-info">
                                <h3>Introduction</h3>
                                <p>Je suis compétent en HTML, CSS et JavaScript, ainsi que dans l'utilisation de frameworks et bibliothèques avancés pour créer des fonctionnalités interactives. En outre, je possède de l'expérience dans la programmation côté serveur avec différents langages back-end et dans la gestion de bases de données.</p>
                                <div class="about-btn">
                                    <a href="../static/Cv/Cv Chris.pdf" ><button class="btn">Obtenir Cv<i class="uil uil-import"></i></button></a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="competences-box">
                                <div class="competences-header">
                                    <h3>Front & Back</h3>
                                </div>
                                <div class="competences-list">
                                    <span>HTML</span>
                                    <span>CSS</span>
                                    <span>Bootstrap</span>
                                    <span>JavaScript</span>
                                    <span>Angular</span>
                                    <span>Python</span>
                                    <span>Django</span>
                                    <span>Flet</span>
                                    <span>Java</span>
                                    <span>C</span>
                                </div>
                            </div>
                            

                            <div class="competences-box">
                                <div class="competences-header">
                                    <h3>Base de Données</h3>
                                </div>
                                <div class="competences-list">
                                    <span>MySQL</span>
                                    <span>Sqlite</span>
                                    
                                </div>
                            </div>


                            <div class="competences-box">
                                <div class="competences-header">
                                    <h3>Administration Système</h3>
                                </div>
                                <div class="competences-list">
                                    <span>Shell</span>
                                    <span>Bash</span>
                                    <span>MacOs</span>
                                    <span>Linux</span>
                                    <span>Windows</span>

                                </div>
                            </div>
                            
                        </div>
                    </div>
                </section>


                    <!-- -------------- SECTION PROJETS ---------------- -->
                <section class="section" id="projects">
                    <div class="top-header">
                        <h1>Projets</h1>
                    </div>
                    <div class="project-container">

                        <div class="project-box" onclick=" afficherDetailsProjet('project1')">
                            <img src="../static/images/Projet 1.png" alt="Project 1" width="500px">
                            <div class="project-overlay"></div>
                            <div class="project-details" id="project1">
                                <h3>PyStore</h3>
                                <p>PyStore est un site E-commerce que J'ai développer Au cour 
                                    de ma première Année d'expérience en Génie Logiciel. Elle Incluait
                                    le technolgie HTML Css et Js 
                                </p>
                            </div>
                        </div>


                        <div class="project-box" onclick=" afficherDetailsProjet('project2')">
                            <img src="../static/images/Projet 2.png" alt="Project 2">
                            <div class="project-overlay"></div>
                            <div class="project-details" id="project2">
                                <h3>Gestion Hotel</h3>
                                <p>Un Système de Gestion d'Hotel Principal Développer en Python Visait
                                    a Facilité la tâche des réceptionniste dans les Hotel il incluait aussi la Technologie Sqlite3 
                                </p>
                            </div>
                        </div>


                        <div class="project-box" onclick=" afficherDetailsProjet('project3')">
                            <img src="../static/images/Projet 3.png" alt="Project 3">
                            <div class="project-overlay"></div>
                            <div class="project-details" id="project3">
                                <h3>Gestion Des Etudiants</h3>
                                <p>Ce Système A été Développer en Python. Ce projet visait a Gérer plus
                                    facilement les étudiant  par leurs heure de Présence et d'absence au 
                                    cours leurs notes etc...</p>
                            </div>
                        </div>
                        
                        
                        <div class="project-box" onclick=" afficherDetailsProjet('project4')">
                            <img src="../static/images/Projet 4.png" alt="Project 4">
                            <div class="project-overlay"></div>
                            <div class="project-details" id="project4">
                                <h3>To Do List</h3>
                                <p>Un Projet d'éssaie To Do List Développer en Python Mettant en
                                     œuvre Principalement le Framwork Flet</p>
                            </div>
                        </div>


                        <div class="project-box" onclick=" afficherDetailsProjet('project5')">
                            <img src="../static/images/Projet 5.png" alt="Project 5">
                            <div class="project-overlay"></div>
                            <div class="project-details" id="project5">
                                <h3>AppWeb</h3>
                                <p>Ce projet Consistait a développer une App Web Pour un centre de formation D'informatique</p>
                            </div>
                        </div>



                        <div class="project-box" onclick=" afficherDetailsProjet('project6')">
                            <img src="../static/images/Projet 6.jpeg" alt="Project 6">
                            <div class="project-overlay"></div>
                            <div class="project-details" id="project6">
                                <h3>Téléchageur de Playlist</h3>
                                <p>J'ai développer cette App avec Python dans le but de me perméttre de Télecharger
                                    des Playlist YouTube Gratuitement.</p>
                            </div>
                        </div>



                        <div class="project-box" onclick=" afficherDetailsProjet('project7')">
                            <img src="../static/images/Projet 7.jpeg" alt="Project 7">
                            <div class="project-overlay"></div>
                            <div class="project-details" id="project7">
                                <h3>Gesion bibliothèques</h3>
                                <p>Développement d'un Logiciel de Gestion d'une Bibliothèque principalement développer en Java</p>
                            </div>
                        </div>




                    </div>
                </section>
 


                <!-- -------------- SECTION CONTACT ---------------- -->
                <section class="section" id="contact">
                    <div class="top-header">
                        <h1>Contactez Moi</h1>
                        <span>Trouvez Moi</span>
                    </div>

                    <div class="row">
                        <div class="col">
                            
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3972.2058744882615!2d-3.9630100895349822!3d5.385559094570848!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xfc1edcaa6f18e71%3A0x547c5c196433a210!2sUTA%20(%20UNIVERSITE%20DE%20TECHNOLOGIE%20D&#39;ABIDJAN%20)!5e0!3m2!1sfr!2sci!4v1714858859407!5m2!1sfr!2sci" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        
                        </div>
                        <div class="col">
                            <form action="" method="post" class="form-control">
                                {%csrf_token%}
                                <div class="form-inputs">
                                    
                                    {{form.name}}
                                    {{form.email}}

                                    <!-- <input type="text" class="input-field" placeholder="Name">
                                    <input type="text" class="input-field" placeholder="Email"> -->
                                </div>
                                <div class="text-area">
                                    {{form.message}}
                                    <!-- <textarea placeholder="Message"></textarea> -->
                                </div>
                                <div class="form-button">
                                    <button class="btn">Envoyer <i class="uil uil-message"></i></button>
                                </div>
                            </form>
                        </div>
                    </div>


                </section>

            </main>


                <!-- --------------- FOOTER --------------- -->
            <footer>
                <div class="top-footer">
                    <p>AGOH Chris</p>
                </div>
                <div class="middle-footer">
                    <ul class="footer-menu">
                        <li class="footer_menu_list">
                            <a href="#home">Home</a>
                        </li>
                        <li class="footer_menu_list">
                            <a href="#about">À Propos</a>
                        </li>
                        <li class="footer_menu_list">
                            <a href="#projects">Projets</a>
                        </li>
                        <li class="footer_menu_list">
                            <a href="#contact">Contacte</a>
                        </li>
                    </ul>
                </div>



                <div class="footer-social-icons">
                    <div class="icon">
                        <a href="https://www.facebook.com/rene.agoh.31">
                            <i class="uil uil-facebook-f"></i>
                        </a>
                    </div>
                        
                    <div class="icon">
                        <a href="https://www.linkedin.com/in/agoh-chris-%F0%9F%90%8D-811b6526a/">
                            <i class="uil uil-linkedin-alt"></i>
                        </a>
                    </div>
                    <div class="icon">
                        <a href="https://github.com/MisterPy15">
                            <i class="uil uil-github-alt"></i>
                        </a>
                    </div>
                </div>
                <div class="bottom-footer">
                    <p>Copyright &copy; <a href="#home" style="text-decoration: none;">AGOH Chris</a> - Tout droit réservé</p>
                </div>
            </footer>
    </div>









    <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>

       <!-- ----- SCROLL Dynamique----- -->
    <script src="https://unpkg.com/scrollreveal"></script>

    <!-- ----- Script.ja ----- -->
    <script src="../static/js/Script.js"></script>
</body>
</html>